/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{padding-top: 40px}

input.numeric, input.string {
    min-height: 30px;
    min-width: 220px;
}

.error {
    color: #CC0000;
}

.field_with_errors .error {
    margin-left: 10px;
}

.input.check_boxes .checkbox {
    padding-left: 0;
}

.input.check_boxes .checkbox input {
    margin: 5px 5px 0 0;
}

label.boolean, #user_remember_me {float:left; display: block}
#user_remember_me{margin-right: 10px !important;}

